/* body{
    text-align: center;
}

div{
    border: 1px solid,black;
    height: 60px;
    margin:  auto;
    width: 300px;
    
} */
.box{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid black;
}