/* body{
    text-align: center;
}

div{
    border: 1px solid,black;
    height: 60px;
    margin:  auto;
    width: 300px;
    
} */
/* .box{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid black;
} */

div{
    height: 300px;
    width: 300px;
    background-color: rgb(214, 133, 133);
}
ul{
    background-color: rgb(137, 137, 227);
}
li{
    background-color: darkmagenta;
}